<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/homepage_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mBot_Website</title>

</head>
<body>

<h2 class="title">Choose your device</h2>


<div class="row">
    <div class="column" onclick="handleClick()" onmouseover="handleHover(this)" onmouseleave="handleLeave(this)">
        <img src="/static/bilder/computer.jpg" alt="Computer">
    </div>
    <div class="column" onclick="handleClick()" onmouseover="handleHover(this)" onmouseleave="handleLeave(this)">
        <img src="/static/bilder/phone.png" alt="Phone">
    </div>
</div>

<script src="/static/homepage_script.js"></script>

</body>
</html>