<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/eventlistener_keys.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBot2</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Welcome to MBot2</h1>
    <form action="\buttonControl" method="post">
        <button type="submit" name="direction" value="UP">Vorwärts</button>
        <button type="submit" name="direction" value="DOWN">Rückwärts</button>
        <button type="submit" name="direction" value="LEFT">Links</button>
        <button type="submit" name="direction" value="RIGHT">Rechts</button>
        <button type="submit" name="direction" value="STOP">Stop</button>
    </form>
    <hr>
    <form action="/sendCommand" method="get">
        <button type="submit">Select Devices</button>
    </form>

    <p>Selected Device: <span th:text="${ipAdresse}"></span></p>

</body>
</html>