<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/index_style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>MBot2</title>
</head>
    <body class="noselect" onload="init();">
        <h1>Welcome to MBot2</h1>
        <div class="container">
            <div class="selected-device">
                <p>Selected Device: <span id="selectedDevice" th:text="${ipAdresse}"></span></p>
                <form action="/sendCommand" method="get">
                    <button type="submit">Select Devices</button>
                </form>

                <div class="dropdown" onclick="connect(event)">
                    <button class="dropbtn">Dropdown</button>
                    <div id="dropdown-content" class="dropdown-content">
                        <a th:each="ipAdresse : ${ipAdresses}" th:text="${ipAdresse}"></a>
                    </div>
                </div>

                <p>Suicide Prevention:</p>
                <form id="toggleForm" action="/suizidePrevention" method="post">
                    <button id="suicideOff" type="button" name="prevention">OFF</button>
                    <button id="suicideOn" type="button" name="prevention">ON</button>
                </form>

            </div>
        
            <!-- Joystick für Handys -->
            <div id="phoneControls">
                <div style="border: 1px solid green; width: 150px; alignment: center; position: absolute; left:10px; top:200px;">
                    <img src="/joystick-base.png"/>
                    <div id="stick1" style="position: absolute; left:32px; top:32px;">
                        <img src="/joystick-green.png"/>
                    </div>
                    <div style="margin-top: 20px;">
                        <input type="range" min="0" max="100" value="${speed}" class="slider" id="myRange2" oninput="updateSliderValue(this.value, this.id)">
                        <span id="sliderValue2">50</span>
                    </div>
                <div id="pcContainer" class="buttons-container">
                    <form class="sub-container">
                        <button id="driveBtnU" type="button" name="direction">Vorwärts</button>
                        <div class="middle-buttons">
                            <button id="driveBtnL" type="button" name="direction">Links</button>
                            <button id="driveBtnS" type="button" name="direction">Stop</button>
                            <button id="driveBtnR" type="button" name="direction">Rechts</button>
                        </div>
                        <button id="driveBtnD" type="button" name="direction">Rückwärts</button>
                        <div style="margin-top: 20px;">
                            <input type="range" min="0" max="100" value="${speed}" class="slider" id="myRange" oninput="updateSliderValue(this.value, this.id)">
                            <span id="sliderValue">50</span>
                        </div>
                    </form>
            </div>
        </div>
        <script src="/eventlistener_keys.js"></script>
        <script src="/phone_joystick.js"></script>
        <script src="/website_functions.js"></script>
    </body>
</html>