<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select Device</title>
</head>
<body>
<h1>Select a Device</h1>

<form id="deviceForm" action="/device" method="post">
  <select id="devices" name="ipAdresse">
    <!-- Auswahl aus Devices -->
    <th:block th:each="device : ${devices}">
      <option th:value="${device}" th:text="${device}"></option>
    </th:block>
  </select>

  <input type="submit" value="Device senden">
</form>

</body>
</html>
